<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Fetching {{ id }}</h1>

<p id="message"></p>

<script>
    let id = '{{ id }}';
    const apiUrl = '/meta/'+id+"/status"; // Replace with your actual API URL
    const messageBox = document.getElementById('message');

    async function fetchMessage() {
        try {
            const response = await fetch(apiUrl);
            const data = await response.json();
            messageBox.textContent = data.status;
        } catch (error) {
            console.error('Fetch error:', error);
            messageBox.textContent = 'Error fetching message';
        }
    }

    // Call once immediately, then every 1 second
    fetchMessage();
    setInterval(fetchMessage, 1000);
</script>


</body>
</html>
